html, body, div#root {
  height: 100%;
}

.App {
  background-image: url("../../assets/background.png");
  background-position: left top;
  background-size: cover;
  height: 100%;
  text-align: center;
}
