@import '../../themes/default';

html, body, div#root {
  height: 100%;
}

body {
  background-image: url('../../assets/backgrounds/death-valley-dunes.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

div.App {
  display: grid;
  grid-template-columns: $grid-navigation-width auto;
  grid-template-rows: $grid-header-height $grid-header-height auto;
  column-gap: 0;
  row-gap: 0;
  height: 100%;

  // Default all margin and padding to 0
  * {
    margin: 0;
    padding: 0;
  }

  // Default all links to black with no text-decoration
  a {
    color: $color-black;
    text-decoration: none;
    // Default all links to show an underline on hover
    &:hover {
      text-decoration: underline;
    }
  }

  nav.Navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  div.Header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  div.Content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
