html, body, div#root {
  height: 100%;
}

div.App {
  display: flex;
  height: 100%;
  width: 100%;

  // Default all margin and padding to 0
  * {
    margin: 0;
    padding: 0;
  }

  // Default all links to black with no text-decoration
  a {
    color: black;
    text-decoration: none;
    // Default all links to show an underline on hover
    &:hover {
      text-decoration: underline;
    }
  }
}
