@import '../../themes/default';

nav.Navigation {
  align-items: stretch;
  background-color: $color-gray-dark;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-large;

  a {
    color: $color-gray-light;
    &:hover {
      color: $color-white;
    }
  }
  
  div.NavigationLinks {
    display: flex;
    flex: 4 2 65%;
    padding: $space-large 0;
    width: 100%;

    ul {
      list-style-type: none;

      li {
        display: inline;
      }
    }
  }
}
