@import '../../themes/default';

nav.Navigation {
  align-items: stretch;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: $opacity-ninety;
  padding: $space-large;

  a {
    color: $color-black;
    &:hover {
      color: $color-gray-dark;
    }
  }
  
  div.NavigationLinks {
    display: flex;
    flex-direction: column;

    div.NavigationLink {
      margin-bottom: $space-medium;
    }
  }
}
