@import '../../themes/default';

div.Navigation {
  input[type=checkbox] {
    transition: all $timing-fast;
    box-sizing: border-box;
    display: none;

    &:checked ~ label.NavigationToggleIcon > div.NavigationToggleIconMiddleLine {
      transition: all $timing-fast;
      box-sizing: border-box;
      opacity: 0;
    }

    &:checked ~ label.NavigationToggleIcon > div.NavigationToggleIconTopLine {
      transition: all $timing-fast;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
    }

    &:checked ~ label.NavigationToggleIcon > div.NavigationToggleIconBottomLine {
      transition: all $timing-fast;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
    }

    &:checked ~ nav.Navigation {
      transform: translateX(0);
    }
  }

  label.NavigationToggleIcon {
    transition: all $timing-fast;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: $layout-header-height / 2 - $space-large / 2;
    left: $space-medium;
    height: $space-x-large;
    width: $space-x-large;

    div.NavigationToggleIconPart {
      background-color: $color-white;
      box-sizing: border-box;
      height: $space-x-small;
      position: absolute;
      transition: all $timing-fast;
      width: 100%;

      &.NavigationToggleIconTopLine {
        position: relative;
        transition: all $timing-fast;
        box-sizing: border-box;
        float: left;
      }

      &.NavigationToggleIconMiddleLine {
        transition: all $timing-fast;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: $space-x-small;
      }

      &.NavigationToggleIconBottomLine {
        transition: all $timing-fast;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: $space-x-small;
      }
    }
  }

  nav.Navigation {
    align-items: stretch;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    margin-top: $layout-header-height;
    position: fixed;
    top: 0;
    transform: translateX(-$layout-navigation-width);
    transition: transform 250ms ease-in-out;
    width: $layout-navigation-width;
    z-index: $layout-navigation-index;

    a {
      color: $color-black;
      &:hover {
        color: $color-gray-dark;
      }
    }

    div.NavigationLinks {
      display: flex;
      flex-direction: column;
      padding: $space-large;

      div.NavigationLink {
        margin-bottom: $space-medium;
      }
    }
  }
}
