// Define colors
$color-black: #000;
$color-white: #fff;
$color-gray: #797979;
$color-gray-light: #b3b3b3;
$color-gray-dark: #333;

// Define spaces
$space-small: 5px;
$space-medium: 10px;
$space-large: 15px;
$space-x-large: 25px;
$space-xx-large: 50px;

// Define sizes
$size-normal: 1rem;
$size-large: 1.5rem;

// Define grid properties
$grid-navigation-width: 150px;
$grid-header-height: 75px;
