div.Activities {
  div.ActivitiesSelect {
    margin-bottom: 25px;
    div.ActivitiesSelectTitle {
      margin-bottom: 10px;
    }
  }

  div.ActivitiesList {
    div.GithubActivity {
      display: flex;
      margin: 10px 0;

      div.Timestamp {
        flex: 1 1 20%;
      }

      div.Actor {
        align-items: center;
        display: flex;
        flex: 1 2 20%;

        img {
          max-height: 25px;
          max-width: 25px;
        }

        div.ActorLogin {
          margin: 0 10px;
        }
      }

      div.EventType {
        flex: 1 1 20%;
      }

      div.Repository {
        flex: 2 2 40%;
      }
    }
  }
}
