@import '../../themes/default';

div.Header {
  @include linear-gradient($color-blue-dark 5%, transparent 100%);
  align-items: center;
  border-bottom: 1px solid $color-white;
  display: flex;
  justify-content: flex-end;
  padding: 0 $space-large;

  div.SocialLinks {
    align-items: center;
    display: flex;
    height: 100%;

    div.SocialLink {
      border-bottom: 1px solid white;
      height: $space-x-large;
      margin: 0 $space-small;
      width: $space-x-large;

      &:hover {
        cursor: pointer;
      }

      & > img {
        height: 100%;
        width: 100%;
      }
    }
  }
}