html, body, div#root {
  height: 100%;
}

.App {
  background-image: url("./assets/background.png");
  background-position: left top;
  background-size: cover;
  height: 100%;
  text-align: center;
}

div.Header {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  padding: 5px;
}

div.SocialLink {
  height: 25px;
  margin: 5px;
  width: 25px;
}

div.SocialLink:hover {
  cursor: pointer;
}

div.SocialLink > img {
  height: 100%;
  width: 100%;
}
