@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'),
  url('assets/fonts/PermanentMarker/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'),
  url('assets/fonts/Quicksand/Quicksand-VariableFont.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
